.root {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid darkGray;
    border-collapse: collapse;
}

th {
    background: lightGray;
    color: black;
    border: 1px solid darkGray;
    padding: 10px;
    font-weight: normal;
    font-size: 1.1em;
}

td {
    border: 1px solid darkGray;
    padding: 5px 10px;
}

.search-block {
    width: 80%;
    margin: 10px auto;
}

.pagination {
    margin: 15px auto;
    display: inline-block;
}

.pagination a {
    display: inline-block;
    padding: 5px 10px;
    margin: 2px;
    border: 1px solid darkGray;
    text-decoration: none;
}

.pagination a.active {
    background: darkGray;
    color: white;
    font-weight: bold;
}

.pagination a.disabled {
    color: gray;
    pointer-events: none;
}
